{{ define "main" }}
    {{ partial "header" . }}

    <div class="content">
        <div class="container">
            <div class="row">
                <!-- <div class="col-sm-12 col-md-10"> -->
                <div class="col-sm-12 col-md-8 offset-md-1">
                    <h1 class="mx-0 mx-md-4">{{ .Title }}</h1>

                    {{ partial "meta" . }}

                    <div class="markdown">
                        {{ partial "content" . }}
                    </div>

                    {{ if .Site.Params.posts_navigation }}
                        <div class="navigation">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    {{ if .PrevInSection }}
                                        <div class="mx-0 mx-md-4 mt-4 text-left">
                                            <a href="{{ .PrevInSection.Permalink }}">
                                                {{ partial "icon_back" . }}
                                                <span class="text">{{ .PrevInSection.Title }}</span>
                                            </a>
                                        </div>
                                    {{ end }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ if .NextInSection }}
                                        <div class="mx-0 mx-md-4 mt-4 text-right">
                                            <a href="{{ .NextInSection.Permalink }}">
                                                <span class="text">{{ .NextInSection.Title }}</span>
                                                {{ partial "icon_next" . }}
                                            </a>
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}

                    {{ if .Site.DisqusShortname }}
                        <div class="mt-5 mx-0 mx-md-4 disqus">
                            {{ template "_internal/disqus.html" . }}
                        </div>
                    {{ end }}
                </div>
                <div class="col-sm-12 col-md-3">
                    <nav id="toc" class="navbar navbar-light bg-light">
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link" href="#item-1">Remote çalışmak için karşılaştığınız en büyük problem nedir?</a>
                            <nav class="nav nav-pills flex-column">
                            <a class="nav-link ml-3 my-1" href="#item-1-1">Kontrat, SGK, emeklilik primi, ...</a>
                            <a class="nav-link ml-3 my-1" href="#item-1-2">Sanal şirket hizmetini aldığım ...</a>
                            </nav>
                            <a class="nav-link" href="#item-2">Remote çalışmaya ilk adımını atacak birisi ...</a>
                            <a class="nav-link" href="#item-3">Item 3</a>
                            <nav class="nav nav-pills flex-column">
                            <a class="nav-link ml-3 my-1" href="#item-3-1">Item 3-1</a>
                            <a class="nav-link ml-3 my-1" href="#item-3-2">Item 3-2</a>
                            </nav>
                        </nav>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer" . }}
{{ end }}
