<div class="mb-4 mb-md-5 meta">
    <span class="date" title='{{ .Date.Format "Mon Jan 2 2006 15:04:05 MST" }}'>
        {{ .Date.Format  "January 02, 2006" }}
    </span>

    {{ if not .Params.noauthor }}
        {{ if .Params.author }}
            <span class="author middot" title="{{ .Params.Author }}">
                {{ .Params.author }}
            </span>
        {{ end }}
    {{ end }}

    <span class="reading-time middot">
        {{ i18n "reading_time" .ReadingTime }}
    </span>

    <div class="d-none d-md-inline tags">
        <ul class="list-unstyled d-inline">
            {{ range .Params.tags }}
                <li class="d-inline middot">
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                </li>
            {{ end }}
        </ul>
    </div>

    <div class="d-none d-md-inline tags">
        <ul class="list-unstyled d-inline">
            {{ if isset .Params "hacker_news_id" }}
                {{ if ne .Params.hacker_news_id "" }}
                    <li class="d-inline middot">
                        <a href="https://news.ycombinator.com/item?id={{ .Params.hacker_news_id }}">Hacker News</a>
                    </li>
                {{ end }}
            {{ end }}
            {{ if isset .Params "lobsters_id" }}
                {{ if ne .Params.lobsters_id "" }}
                    <li class="d-inline middot">
                        <a href="https://lobste.rs/s/{{ .Params.lobsters_id }}">Lobsters</a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</div>
